################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/vstancer/v15
/vstancer_shared/obj/Debug
/vstancer_server/obj/Debug
/vstancer_client/obj/Debug
/vstancer_client/bin/Debug
/vstancer_server/bin/Debug
/vstancer_shared/bin/Debug
